**/*.json
!vectordb_bench/custom/custom_case.json

.data
*.sw[op]
*.egg-info
dist/
__pycache__
.env
.data/
__MACOSX
.DS_Store
build/
venv/
.venv/
.idea/
results/
logs/
tests/
install/
logs/
fig/
vectordb_bench.egg-info/
vectordbbench_uv.egg-info/
README.md
Makefile
main.py
LICENSE
Dockerfile
install.py
.github/
.devcontainer/